/* Stylesheet draft */


/*  HTML5 BROWSER COMPATIBILITY */

article, aside, figcaption,
figure, footer, header, hgroup,
menu, nav, section {

    display: block;
}
#container {
position: relative;
max-width: 1400px;

}

/* HEADER SECTION */

header {
  color: rgba(253,230,171,100)
  /*font-family: "futura",
   sans-serif;
   font-size: 1.8em;*/
width: 1200px;
    background: rgba(255, 255, 255, 1.0);
    box-shadow: 2.5px 2.5px 3px rgba(0,0,0,0.30);
}
/* the whole menu */

#masthead {

position: relative;

width: 1200px;
margin-left: 200px;
margin-right: auto;
/*position: 50% 0%;*/
height: 180px;

}
 #menu {
   color: rgba(253,230,171,100)
   font-family: "Futura",
    sans-serif;
    font-size: 1.5em;
  text-align: center;
  /*width: 100%;*/
  margin: 20 20 20 0;
  padding-top: 80px;
}

/* Horizontal list menu */
.top-link {
  display: inline-block;
  float: none;
  position: relative;
  font-family: "futura", sans-serif;
  font-weight: normal;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.30);
  text-decoration: none;
}

div.top-link-homeicon {
  display: inline-block; /* home airplane icon item*/
  /*width: 300px;*/
  /*color: rgba(0,0,0,1);*/
float: left;
height: 100px;
width: 300px;
/*padding: 10px 10px 0px 20px;*/
margin-left: 15px;


  }

img.textlogo {
    position: relative;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: auto;
    transform: scale(0.9);
  }


img.planeicon {
  display: inline-block;
  /*float: left;*/
  margin-top: 0px;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 10px;

  /*transform: scale(0.8);*/
  /*width: 35%;*/

  /*box-shadow: 2px 2px 3px */;
}

div.home-logo {
  /*transform: scaleX(300px);
  transform: scaleY(200px);*/
  /*position: relative;
  display: block;*/
  margin: auto;
  width: 50%;
  padding: 100px;
  /*top: 360px;
margin-left: 45%;*/

}

div.plane-logo {
  /*transform: scaleX(300px);
  transform: scaleY(200px);*/
  margin: auto;
  width: 50%;
  padding: 200px;
  /*top: 360px;
margin-left: 45%;*/

}

/*Style for menu links text*/
.top-link a {
  display: block; /* links fill the block*/
  width: 1200px;
   color: rgba(0,0,0,1.0);
  /*color: var(--text-color);*/
  width: 100%;
  padding: 10px 15px;
  line-height: 1rem;
  text-align: left;
  background-color: transparent;
  text-decoration: none;
}

/*Hover state for top level links*/
.top-link:hover a {
  background: white;
  color: rgba(0, 100, 255, 0.5);
}

/* format from w3 site on last childul li:last-child {
    margin-left: 50rem;
}*/

/* ==== SET BG IMAGE HOME PAGE  ====  */

body.home-body{
  background-image: url(../images/sierra.jpg);
  /*background-color: #cccccc; */
  /* Used if the image is unavailable */
  height: 2400px; /* You must set a specified height */
/* Center the image */

  background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover;*/
    background-position: 50% 0%;
  max-width: 1400px;

}
/* End set bg image Home page */

/*==== STYLE HOME LANDING PAGE === */

/*==== STYLE HOME NAV MENU  ====*/
#menu-home {
  color: rgba(253,230,171,100)
  font-family: "Futura",
   sans-serif;
   font-size: 1.8em;
   font-weight: lighter;
 text-align: left;
 position: relative;
 left: 40%;
 /*width: 100%;*/
 margin: 10px 0px 10px 10px;
 padding-top: 75px;
}

header.header-home {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px rgba(0,0,0,0);
  }

  .top-link-home a {
    display: block; /* links fill the block*/
    position: relative;
    width: 100%;
    color: rgba(253,230,171,100);
    /*color: var(--text-color);*/
    width: 100%;
    padding: 10px 15px;
    line-height: 1rem;
    text-align: left;
    background-color: transparent;
    text-decoration: none;
  }

  /*Hover state for top level links*/
  .top-link-home:hover a {
    background: 50%;
    color: rgba(0, 100, 255, 0.4);
  }

  .top-link-home {
    display: inline-block;
    float: none;
    position: relative;
    font-family: "futura", sans-serif;
    font-weight: normal;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.30);
    text-decoration: none;
  }

/*==== End Style Nav Menu for Home Page  =====*/

h1.home-header {
  font-family: "Futura", sans-serif;
  font-size: 2.0em;
  color: rgba(253,230,171,100);
  font-weight: lighter;*/
  /*display: inline-block;
  float: none;
  position: absolute;
  top: 300px;
  text-align: center;*/
}

/* ==== SET BG IMAGE ABOUT PAGE  ====  */

body.about-body{
  background-image: url(../images/mountain-about.png);
  /*background-color: #cccccc; */
  /* Used if the image is unavailable */
  height: 2400px; /* You must set a specified height */
 max-width: 1400px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover;*/


}
/* End Set BG image About Page */

/*  ==== SETS COLOR OF HEADLINE ABOUT PAGE  ==== */

h1.about-main {
  font-family: "Futura", sans-serif;
  font-size: 3.75em;
  color: rgba(253,230,171,100);
  font-weight: lighter;
  position: relative;
  left: 200px;

}


/* end of Headline Color Set About Page  */

/* ==== 1st TEXT BLOCK SECTION ABOUT PAGE STYLING ==== */
section.article1 {
  height: 560px;
  position: relative;
  left: 150px;
  top: 0px;
  /*padding: 10px;
  margin-left: 10px;*/
  /*left: 200px;*/
background-color: rgba(245,231,151,100);
width: 1200px;
margin-top: 20px;
margin-bottom: 50px;
margin-right: 20px;
margin-left: 40px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 50px;
}

img.trio-photo {
    display: inline-block;
  position: relative;
  float: left;
  /*left: 20px;
  right: 20px;*/
  height: 350px
  width: 550px;
  border: 0px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 10px;
}

#page {
  font-family: "American typewriter", serif;
  font-size: 1.4em;
  line-height: 1.2em;
}

h2.about-main-2 {
  font-family: "Futura", sans-serif;
  font-size: 2em;
  /*color: rgba(253,230,171,100);*/
  font-weight: lighter;
  position: relative;
  /*left: 200px;*/

}

div.aboutsection1 {
  /*font-family: "American typewriter", serif;
  font-size: 1.25em;
  line-height: 1.6em;*/
  display: block;
  padding: 2px 10px 10px 10px;
  /*margin: 8px;
  left: 40px;*/
  /*position: relative;*/
  /*left: 600px;*/
}

div.intro-close {
  position: absolute;
  height: 50px;
  bottom: 10px;
  left: 20px;
}
/* End of 1st Text Block Section About Page Styling */


/* ==== 2ND TEXT BLOCK SECTION ABOUT PAGE STYLEING ==== */
section.article2 {
  height: 480px;
  position: relative;
  left: 150px;
  top: 0px;
  /*padding: 10px;
  margin-left: 10px;*/
  /*left: 200px;*/
background-color: rgba(194,200,221,100);
width: 1200px;
margin-top: 40px;
margin-bottom: 50px;
margin-right: 20px;
margin-left: 40px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 50px;
}
/* Create two equal columns that floats next to each other */


/*div.about-list-1 {
display: inline-block;
position: relative;
width 400px;

}*/

/* End of 2nd Text Block Section About Page Styling */

/* ==== 3RD TEXT BLOCK SECTION ABOUT PAGE STYLEING ==== */

section.article3 {
  height: 880px;
  position: relative;
  left: 150px;
  top: 0px;
  padding: 10px;
  margin-left: 10px;
background-color: rgba(204,223,242,100);
width: 1200px;
margin-top: 20px;
margin-bottom: 20px;
margin-right: 20px;
margin-left: 40px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 50px;
font-weight: normal;
}

h3.about-list-font {
font-weight: normal;
font-size: 1.4em;

}

* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

ul.band-facts {
  list-style: none;
  margin-left: 0px;
  padding-left: 10px;
}

li.band-facts {
    /*show image 2 pixels from top of item */
    background: url(../images/oval-bullet-point.png)
      no-repeat 0 1px;
      padding-bottom: 2px;

      /* bump the text over to make room for
        the arrow */
  padding-left: 100px;

}

li.band-fact-details {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  text-indent: -130px;

}

p.band-fact-details {
margin-top: -30px;
margin-left: 0px;
margin-bottom: 0px;
padding-top: -30px;
padding-bottom: 18px;
padding-left: 10px;

}
p.band-fact-details2 {
margin-top: -10px;
margin-bottom: 0px;
margin-left: -4px;
padding-top: -10px;
padding-bottom: 10px;
padding-left: 10px;

}

ul.bandmembers {
  /*show image 2 pixels from top of item */
  background: url(../images/oval-bullet-point.png)
    no-repeat 0 1px;
  list-style: none;
  margin-left: 0px;
  padding-left: 10px;
}

ul.bandmembers-detail {
  list-style: none;
  margin-left: 0px;
  padding-left: 50px;
}
p.about-list-font {
font-size: 1.2em;

}

li.bandmembers {
  list-style: none;
  /*show image 2 pixels from top of item */
  background: url(../images/oval-bullet-point.png)
    no-repeat 0 1px;

  margin-left: 10px;
  padding-left: 100px;
}

li.band-photos {
list-style: none;
margin-left: 0px;
paddling-left: -50px;
}
/* End of 3rd Text Block Section About Page Styling */
/* ==== End of Styling for About Page ==== */

/* ==== BEGIN STYLING FOR DISCOGRAPHY PAGE ===== */

body.discography-body{
  background-image: url(../images/discography-bg-img-ottercove.png);
  /*background-color: #cccccc; */
  /* Used if the image is unavailable */
  height: 2400px; /* You must set a specified height */

 max-width: 1400px;
    background-position: 50% 0%;/* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover;*/

}

section.discography1 {
  height: 450px;
  position: relative;
  width: 1000px;
  margin: auto;
  /*padding: 10px;
  margin-left: 10px;*/
  /*left: 200px;*/
background-color: rgba(255,255,255,1);
/*width: 1200px;
margin-top: 20px;
margin-bottom: 50px;
margin-right: 20px;
margin-left: 40px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 50px;*/
}

#link1 {

  background-color: white;
  position: relative;
  width: 1200px;
  height: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: 15px solid green;
  padding: 20px;
  z-index: -1;

}
#image-block {
  display: inline-block;
  /*position: relative;*/
  margin: auto;
  padding-left: 150px;
  padding-right: 150px;
}

#image-block img{
margin: auto;
padding: 50px;


}

 #centered-album-detail {
  display: inline-block;
  width: 500px;
  height: 500px;
margin: auto;
border: 15px solid green;
padding: 10px;
text-align: center;
box-shadow: 2.5px 2.5px 3px rgba(0,0,0,0.5);

}

/* img.small {
  display: block;
  width=100%;
 float: left;
 margin: auto;
 padding: 50px;

} */

/*#center-image {
  display: block;
  width=100%;
 margin: auto;
}

#right-image {
  display: block;
  width=100%;
 float: right;
 padding-bottom: 0px;

}*/

div.album-box {
    display: inline-block;
  /*  margin-left: auto;
    margin-right: auto;*/
    width: 400px;
    height: 400px;
    box-shadow: 2.5px 2.5px 3px rgba(0, 0, 0, 1.0);
}

.album-box img {
  position: relative;
  float: left;
  display: block;
  padding: 20px;
}
/* * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
/*.row::after {
  content: "";
  clear: both;
  display: table;
} */

/*div.go-away-button {
  float: right;
  text-decoration: none;
   color: rgb (255,0,0);

 } */

table.centered {

    width: 800px;
    margin: auto;
    border: 3px solid #73AD21;
    padding: 10px;
  }
caption.album-text {
  font-family: "Futura", sans-serif;
  font-size: 1.9em;
  line-height: 1.8rem;
  padding: 40px;
  width: 100%;
  margin: auto;
}


/* ====TEST FOR DISPLAYING 3 ALBUMS IN DETAIL ====*/

/*.your-class {
    width: 800px;
    margin: auto;
  }

  .your-class img {
    width: 100%;
    height: auto;
    display: block;
  } */

  /* End Test for Displaying 3 Albums in Detail */

/* End Set BG image About Page */

/* ==== End of Styling for Discgraphy Page ==== */


/* ==== BEGIN STYLING FOR MEDIA PAGE ===== */
body.media-body{
  background-image: url(../images/prang-wat-un-temple.png);
  /*background-color: #cccccc; */
  /* Used if the image is unavailable */
  height: 2400px; /* You must set a specified height */
 max-width: 1400px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover;*/


}
/* ====jquery forLIGHTBOX EFF begins ===*/
@import ("lightbox.min.css");

#media-carousel {
  height: 560px;
  position: relative;
  left: 150px;
  top: 0px;
  /*padding: 10px;
  margin-left: 10px;*/
  /*left: 200px;*/
background-color: rgba(255,255,255,100);
width: 1200px;
margin-top: 20px;
margin-bottom: 50px;
margin-right: 20px;
margin-left: 40px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 50px;
}

/* ==== End of Styling for Media Page ==== */


/* ==== BEGIN STYLING FOR MERCHANDISE PAGE ===== */
/* ==== End of Styling for Merchandise Page ==== */

/* ==== BEGIN STYLING FOR TOUR  PAGE ===== */
/* ==== End of Styling for Tour Page ==== */
