/* Stylesheet draft */


/*  HTML5 BROWSER COMPATIBILITY */

article, aside, figcaption,
figure, footer, header, hgroup,
menu, nav, section {

    display: block;
}
#container {
position: relative;
width: 1400px

}

/* HEADER SECTION */

header {
  /*color: rgba(253,230,171,100)*/
  /*font-family: "futura",
   sans-serif;
   font-size: 1.8em;*/
width: 1200px;
    background: rgba(255, 255, 255, 1.0);
    box-shadow: 2.5px 2.5px rgba(0,0,0,0.30)
}
/* the whole menu */

#masthead {

position: relative;
width: 90%;
left: 200px;
height: 200px;

}
 #menu {
   /*color: rgba(253,230,171,100)*/
   font-family: "futura",
    sans-serif;
    font-size: 1.6em;
  text-align: center;
  /*width: 100%;*/
  margin: 20 20 20 0;
  padding-top: 80px;
}

/* Horizontal list menu */
.top-link {
  display: inline-block;
  float: none;
  position: relative;
  font-family: "futura", sans-serif;
  font-weight: normal;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.30);
  text-decoration: none;
}

div.top-link-homeicon {
  display: inline-block; /* home airplane icon item*/
  /*width: 300px;*/
  /*color: rgba(0,0,0,1);*/
float: left;
height: 100px;
width: 200px;
transform: scaleX(0.8);
transform: rotate(6deg);
text-shadow: 2px 2px 3px rgba(0,0,0,0.30);
/*border: 2px solid black;
outline: #4CAF50 solid 10px;*/
/*padding: 10px 10px 0px 20px;*/
margin-left: 50px;
/*text-align: center;*/

  /*background-color: powderblue;*/
  /*color: var(--text-color);*/
  /*font-family: "Aileron", sans-serif;
  font-variant-caps: normal;
  font-style: normal;
  text-decoration: none;
  padding: 0.5em 0.5em;
  line-height: 0.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom:10px;
  background-color: transparent;*/

}
img.planeicon {
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 40%;

  text-shadow: 2px 2px 3px rgba(0,0,0,0.30);
}
/*Style for menu links text*/
.top-link a {
  display: block; /* links fill the block*/
  width: 1200px;
   color: rgba(0,0,0,1.0);
  /*color: var(--text-color);*/
  width: 100%;
  padding: 10px 15px;
  line-height: 1rem;
  text-align: left;
  background-color: transparent;
  text-decoration: none;
}

/*Hover state for top level links*/
.top-link:hover a {
  background: white;
  color: rgba(0, 100, 255, 0.5);
}

/* format from w3 site on last childul li:last-child {
    margin-left: 50rem;
}*/

/* ==== SET BG IMAGE HOME PAGE  ====  */

body.home-body{
  background-image: url(../images/sierra.jpg);
  /*background-color: #cccccc; */
  /* Used if the image is unavailable */
  height: 2400px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  max-width: 1400px;

}
/* End set bg image Home page */

/*==== STYLE HOME LANDING PAGE === */

/*==== STYLE HOME NAV MENU  ====*/
#menu-home {
  color: rgba(253,230,171,100)
  font-family: "futura",
   sans-serif;
   font-size: 1.6em;
 text-align: center;
 /*width: 100%;*/
 margin: 50px 20px 20px 200px;
 padding-top: 75px;
}

header.header-home {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px rgba(0,0,0,0);
  }

  .top-link-home a {
    display: block; /* links fill the block*/
    width: 1200px;
    color: rgba(253,230,171,100);
    /*color: var(--text-color);*/
    width: 100%;
    padding: 10px 15px;
    line-height: 1rem;
    text-align: left;
    background-color: transparent;
    text-decoration: none;
  }

  /*Hover state for top level links*/
  .top-link-home:hover a {
    background: 50%;
    color: rgba(0, 100, 255, 0.4);
  }

  .top-link-home {
    display: inline-block;
    float: none;
    position: relative;
    font-family: "futura", sans-serif;
    font-weight: normal;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.30);
    text-decoration: none;
  }

}



/*==== End Style Nav Menu for Home Page  =====*/

h1.home-header {
  font-family: "Futura", sans-serif;
  font-size: 2.8em
  color: rgba(253,230,171,100);
  font-weight: lighter;
  /*display: inline-block;
  float: none;
  position: absolute;
  top: 300px;
  text-align: center;*/
}

img.planelogo {
  transform: scaleX(300px);
  transform: scaleY(200px);
  position: absolute;
  top: 360px;
margin-left: 45%;

}

/* ==== SET BG IMAGE ABOUT PAGE  ====  */

body.about-body{
  background-image: url(../images/mountain-about.png);
  /*background-color: #cccccc; */
  /* Used if the image is unavailable */
  height: 2400px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

}
/* End set bg image Home page */

/*  ==== SETS COLOR OF HEADLINE ABOUT PAGE  ==== */

h1.about-main {
  font-family: "Futura", sans-serif;
  font-size: 4.5em;
  color: rgba(253,230,171,100);
  font-weight: lighter;
  position: relative;
  left: 200px;

}
/* end of Headline Color Set About Page  */

/* ==== SETS FORMAT FOR ARTICLE1 SECTION ABOUT PAGE ====*/



section.article1 {
  height: 400px;
  position: relative;
  left: 150px;
  top: 25px;
  /*padding: 10px;
  margin-left: 10px;*/
  /*left: 200px;*/
background-color: rgba(245,231,151,100);
width: 1200px;
margin-top: 20px;
margin-bottom: 20px;
margin-right: 20px;
margin-left: 40px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 50px;
}

img.trio-photo {
    display: inline-block;
  position: relative;
  float: left;
  /*left: 20px;
  right: 20px;*/
  height: 350px
  width: 550px;
  border: 0px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 10px;
}

#page {
  font-family: "American typewriter", serif;
  font-size: 1.4em;
  line-height: 1.2em;
}

div.aboutsection1 {
  /*font-family: "American typewriter", serif;
  font-size: 1.25em;
  line-height: 1.6em;*/
  display: block;
  padding: 2px 10px 10px 10px;
  /*margin: 8px;
  left: 40px;*/
  /*position: relative;*/
  /*left: 600px;*/
}

div.intro-close {
  position: absolute;
  height: 50px;
  bottom: 10px;
  left: 20px;
}
/*div.absolute {
  position: absolute;
  top: 400px;
  right: 0px;
  border: 3px solid #73AD21

}*/
